.currentPrice {
  display: flex;
  align-items: flex-end;
  color: green;
}

.infoItem { 
  border-bottom: 1px solid grey;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.quoteTimestamp {
  color: grey
}

.redText {
  color: red
}

.greenText {
  color: green
}