.companyHeader {
  display: flex;
  justify-content: space-between;
}

.companyTitle {
  font-size: 16px;
  font-weight: bold;
}

.currentPrice {
  display: flex;
  align-items: flex-end;
  color: green;
}

.infoItem { 
  border-bottom: 1px solid grey;
  padding: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
}

.watchBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.quoteTimestamp {
  color: grey
}

.redText {
  color: red
}

.greenText {
  color: green
}

.watchListStar {
  cursor: pointer;
}